$boundlist-item-height: dynamic(23px);
$boundlist-item-padding: dynamic(0 5px);
$boundlist-item-over-text-color: dynamic(#fff);
$boundlist-item-selected-text-color: dynamic(#fff);
$boundlist-item-over-background-color: dynamic($base-highlight-color);
$boundlist-item-selected-background-color: dynamic($base-color);
