/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */


$panel-navigation-background-color: #f0f0f0;
$panel-navigation-item-line-height: 28px;
$panel-navigation-item-text-color: #112233;

$enable-font-awesome: dynamic(true);
