$accordion-header-color: dynamic($color);
$accordion-header-font-weight: dynamic($font-weight);
$accordion-header-background-color: dynamic($neutral-highlight-color);
$accordion-header-over-background-color: dynamic($neutral-light-color);
$accordion-header-padding: dynamic(2px 8px);
$accordion-tool-glyph-color: dynamic($base-color);
$accordion-padding : dynamic(2px 2px 0);